<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

<img class="cosmic" src="img/cosmic.gif">
	<div class="container">
		<div class="logo">
			<img src="/img/clusterlogo.png">
		</div>
		<div class="login-content">
				<h2 class="title">Cluster</h2>
           		   <div class="div">
           		   		<button id="login">Log in</button>
           		   </div>
           		<div class="input-div pass">
           		   <div class="div">
           		    	<button id="signup">Sign Up</button>
            	   </div>
            	</div>
        </div>       
    </div>

{{!-- media --}}
<div class="player">
	    <canvas></canvas>
		<div class="song">
			<div class="artist">Ibrahim</div>
			<div class="name">In Search of Splintered Memories</div>
		</div>
		<div class="playarea">
			<div class="prevSong"></div>
			<div class="play"></div>
			<div class="pause"></div>
			<div class="nextSong"></div>
		</div>
		<div class="soundControl"></div>
		<div class="time">00:00</div>
	</div>
<!-- partial -->
  <script  src="/js/script.js"></script>
</html>