<img class="cosmic" src="img/cosmic.gif">
	<div class="container">
		<div class="logo">
			<img src="/img/clusterlogo.svg">
		</div>
		<div class="login-content">

				<h2 class="title">Cluster</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<button id="login">Log in</button>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<button id="signup">Sign Up</button>
            	   </div>
            	</div>

        </div>
    </div>
	<script src="./js/routes.js"></script>
