<form action="/signup" method="post">
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>

<div class="field">
  <label class="label">Create Username</label>
  <div class="control">
    <input class="input" type="username" placeholder="john123">
  </div>
</div>


<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input class="input" type="Password" placeholder="">
  </div>
</div>

<div class="field">
  <label class="label">Confirm Password</label>
  <div class="control">
    <input class="input" type="Password" placeholder="">
  </div>
</div>
</form>