<form>
<div class="field">
  <label class="label">Create Username</label>
  <div class="control">
    <input id="username" class="input" type="username" placeholder="john123">
  </div>
</div>


<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input id="password" class="input" type="Password" placeholder="">
  </div>
</div>

<div class="field">
  <label class="label">Confirm Password</label>
  <div class="control">
    <input id="confirm-password" class="input" type="Password" placeholder="">
  </div>
  <button id="signup-submit">Sign Up</button>
</div>
</form>
<script src="./js/signup.js"></script>